<!--partials-bottom-nav.ejs-Aafaq-Muzaffar-301190210-Nov-01-2022-->
<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
    </nav>
  </footer>