<!--views-index.ejs-Aafaq-Muzaffar-301190210-Nov-01-2022-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Book Store</h1>
    </br>
      <div class="row">
        <div class="col-md-9">
        </br>
          <h4>Create your Custom Book List.</h4>
        </br>
        <h4>By Adding New Books in the List.</h4>
        </br>
        <h4>Or Edit the Existing Book List According to your Choose.</h4>
        </br>   
       </div>
       <div class="col-md-3">
          <img src="https://us.123rf.com/450wm/macrovectorart/macrovectorart2103/macrovectorart210327429/166696009-read-books-concept-education-and-school-study-and-literature-vector-illustration.jpg?ver=6" alt="my pic" width="250" height="200">
       </div>
    </div> 
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




